<html>


<%- include ("./partials/header.ejs") %>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/books">All books</a></li>
          </ul>

        </div>
        <div class="col-sm-10">
          <h3>Loaned Books list</h3>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">Return Buttons</th>
              </tr>
            </thead>
            <tbody>
              <% books.forEach(function(copy,i){%>
                <tr>
                  <th scope="row">
                    <%= i %>
                  </th>
                  <td><a href="/book/<%=copy.book.id%>/">
                      <%= copy.book.title %>
                    </a></td>
                  <td>
                    <%= copy.book.author %>
                  </td>
                  <td>
                    <%= copy.book.genre %>
                  </td>
                  <td>
                    <%= copy.borrow_date %>
                  </td>
                  <td>
                    <!-- TODO: Create a Return book tag that is used for returning the book -->

                    <form action="/books/loaned" method="POST">
                      <input type="text" hidden value="<%= copy.id  %>" name="bookcopyid" />
                      <button class="btn btn-primary" id="return-button" type="submit">Return</button>
                    </form>

                  </td>
                </tr>
                <%})%>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </body>

</html>